<template>
  <body id="page-top" class="animated fadeIn">
    <!-- Content -->
       <div id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <h1 class="page-title">Book Management</h1>
              </div>
            <div class="btn-add-bg">
                <a class="btn text-white rounded-pill btn-lg btn-add" data-toggle="modal" data-target="#addModal" v-on:click="showAddModal"><i><img src="../../assets/img/plus.png" width="30px"> </i>  Add Book</a>
            </div>
            <div class="card mb-3">
              <div class="card-body">
                <div class="table-responsive">
                   <b-col md="3">
                     <b-row>
                      <b-form-input class="mb-4" type="search" id="filterInput" placeholder="Type to Search..."> </b-form-input>
                     </b-row>
                    </b-col>
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="table-heading">
                      <tr>
                        <th width="30%">Name</th>
                        <th width="20%">Author</th>
                        <th width="10%">Copies Available</th>
                        <th width="20%">Category</th>
                        <th width="10%">Transactions</th>
                        <th width="10%">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(book, i) in books" :key="i">
                        <td>{{ book.name }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.copy }}</td>
                        <td>{{ book.category }}</td>
                        <td class="text-center">
                            <img src="../../assets/img/borrow.png" height="25px">
                            <img src="../../assets/img/return.png" height="25px">
                        </td>
                        <td class="text-center">
                          <a v-on:click="showEditModal(i)">
                          <img src="../../assets/img/edit-table.png" height="25px">
                          </a>
                          <a type="button" data-toggle="modal"
                           data-target="#deleteModal" v-on:click="showDeleteModal(i)"><img src="../../assets/img/delete.png" height="25px"></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div><!-- /.container-fluid -->
    </div><!-- /.content-wrapper -->
    <!--Add Modal-->
      <b-modal id="addModal" class="modal fade" tabindex="-1" role="dialog" centered title="Books Management">
            <h5 class="modal-title text-white"> Add Patron</h5>
          <div class="modal-body pl-5 pr-5">
            <div class="text-center">
              <img src="../../assets/img/add-book.png" width="100px">
            </div>
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input type="text" class="form-control" placeholder="" v-model="input.name" id="name">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Author</label>
                <input type="text" class="form-control" placeholder="" v-model="input.author" id="author">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Copies</label>
                <input type="number" class="form-control" placeholder="" v-model="input.copy" id="copy">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Category</label>
                <select class="form-control" v-model="input.category" id="category">
                  <option value="Fiction">Fiction</option>
                  <option value="Drama">Drama</option>
                  <option value="History">History</option>
                  </select>
              </div>
            </form>
          </div>
          <template #modal-footer="{ }">
             <div class="add-button-modal" v-on:click="saveRecord">
              <div class="text-center">
              <button type="button" class="btn btn-lg text-white" width="100%">Save changes</button>
            </div>
            </div>
      </template>
    </b-modal>
     <!--- EDIT MODAL --->
   <b-modal id="editModal" class="modal fade" tabindex="-1" role="dialog" centered title="Books Management">
            <h5 class="modal-title text-white"> Add Patron</h5>
          <div class="modal-body pl-5 pr-5">
            <div class="text-center">
              <img src="../../assets/img/add-book.png" width="100px">
            </div>
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input type="text" class="form-control" placeholder="" v-model="editRecord.name" id="name">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Author</label>
                <input type="text" class="form-control" placeholder="" v-model="editRecord.author" id="author">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Copies</label>
                <input type="number" class="form-control" placeholder="" v-model="editRecord.copy" id="copy">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Category</label>
                <select class="form-control" v-model="editRecord.category" id="category">
                  <option value="Fiction">Fiction</option>
                  <option value="Drama">Drama</option>
                  <option value="History">History</option>
                </select>
              </div>
            </form>
          </div>
          <template #modal-footer="{  }">
             <div class="add-button-modal" v-on:click="saveEditRecord">
              <div class="text-center">
              <button type="button" class="btn btn-lg text-white" width="100%" >Save changes</button>
            </div>
            </div>
      </template>
    </b-modal>
    <!-- Delete Modal -->
    <b-modal id="deleteModal" class="modal-fade" >
      <p>Are you sure you want to delete this data?</p>
      <template #modal-footer="{ }">
        <button type="button" class="btn btn-md btn-danger" v-on:click="deleteRecord"> Yes </button>
        <button type="button" class="btn btn-md btn-primary" v-on:click="hideDeleteModal">Cancel</button>
      </template>
    </b-modal>
  <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>
</template>
<script>

export default {
  components: { },
  
  data(){
    return {
      editRecord: {},
      filter: "",
      books: [
         {
           name: "Example",
           author: "Albert Einstein",
           copy: "15",
           category: "Fiction",
         },
       ],
      input: {
        name: "",
        author: "",
        copy: '',
        category: "",
      },
      deleteIndex: "",
      editIndex: "",
    }
  },
  methods: {  
    showAddModal (){
      this.$bvModal.show("addModal");
    },
    saveRecord (){
      if(this.input.name.trim() == '')
      return this.$toastr.error('Boook Record not Saved', 'Name required')
      if(this.input.author.trim() == '')
      return this.$toastr.error('Boook Record not Saved', 'Author required')
      if(this.input.copy.trim() == '')
      return this.$toastr.error('Boook Record not Saved', 'Number of copies required')
      if(this.input.category.trim() == '')
      return this.$toastr.error('Boook Record not Saved', 'Category required')

      this.books.unshift({ ...this.input });
+     this.clearFields();
+     this.$bvModal.hide("addModal");
      this.$toastr.success('Boook Record Saved', 'Success');
      
    },
    showEditModal(i) {
      this.editIndex = i;
      this.editRecord = ({...this.books[i]});
+     this.$bvModal.show("editModal");
    },
    saveEditRecord (){
      if(this.editRecord.name.trim() == '')
      return this.$toastr.error('Boook Record not Saved', 'Name required')
      if(this.editRecord.author.trim() == '')
      return this.$toastr.error('Boook Record not Saved', 'Author required')
      if(this.editRecord.copy == '')
      return this.$toastr.error('Boook Record not Saved', 'Copy required')
      if(this.editRecord.category.trim() == '')
      return this.$toastr.error('Boook Record not Saved', 'Category required')

      this.$set(this.books, this.editIndex, this.editRecord)
+     this.$bvModal.hide("editModal");
      this.$toastr.success('Boook Record Saved', 'Success', {});
    },
    showDeleteModal (i){
      this.deleteIndex = i;
+      this.$bvModal.show("deleteModal");
    },
    hideDeleteModal(){
      +this.$bvModal.hide("deleteModal");
    },
    deleteRecord() {
+   this.$delete(this.books, this.deleteIndex);
+   this.$bvModal.hide("deleteModal");
    },

    clearFields() {
      this.input.name = "";
      this.input.author = "";
      this.input.copy = "";
      this.input.category = "";
    },
  },
  mounted() {
    document.title = "Books"
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
    @import './../../assets/css/sb-admin.css';
    @import './../../assets/css/animate.css';
</style>
