<template>
  <body id="page-top" class="animated fadeIn">
  <div id="wrapper">
    <!-- Content -->
    <div id="content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <h1 class="page-title">Dashboard</h1>
        </div>
        <div class="row">
          <!-- Bar Chart -->
          <div class="col-lg-8">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-chart-bar"></i>
                Borrowed and Returned Books</div>
              <div class="card-body">
                <canvas id="barChart" width="100%" height="50"></canvas>
              </div>
              <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
          </div>
          <!-- Pie Chart -->
          <div class="col-lg-4">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-chart-pie"></i>
                Popular Book Genre</div>
              <div class="card-body">
                <canvas id="pieChart" width="100%" height="100"></canvas>
              </div>
              <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
          </div>
        </div>
        
      </div><!-- /.container-fluid -->
    </div><!-- /.content-wrapper -->
  </div><!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>  
</template>
<script>
  import Chart from 'chart.js';
  export default {
  components:{
  },
  data(){
    return {
    
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = document.getElementById("barChart").getContext("2d");
      new Chart(ctx, {
        type: "bar",
          data: {
          labels: ["January", "February", "March", "April", "May", "June"],
          datasets: [{
            label: "Borrowed Books",
            backgroundColor: "#035c6e",
            borderColor: "#1BB09A",
            data: [5, 4, 2,8, 10, 4],
          }, {
            label: "Returned Books",
            backgroundColor: "#00262f",
            borderColor: "#00262f",
            data: [2, 5, 7, 11, 14, 5],
          }],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "doughnut",
        data: {
    labels: ["Novel", "Fiction", "Drama", "Education"],
    datasets: [{
      data: [80, 20, 16, 8],
      backgroundColor: ['#035c6e', '#044c58', '#035c6e', '#7db3bd'],
    }],
  },
        options: {
          
        },
      });
    });
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
 @import './../../assets/css/sb-admin.css';
 @import './../../assets/css/animate.css';
</style>
