<template>
  <body id="page-top" class="animated fadeIn">
  <div id="wrapper">
    <!-- Content -->
   <div id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <h1 class="page-title">Patron Management</h1>
              </div>
            <div class="btn-add-bg">
                <a class="btn text-white rounded-pill btn-lg btn-add" data-toggle="modal" data-target="#addModal" @click="$bvModal.show('addModal')"><i><img src="../../assets/img/plus.png" width="30px">  </i>  Add Patron</a>
            </div>
            <div class="card mb-3">
              <div class="card-body">
                <div class="table-responsive">
                  <b-col md="3">
                     <b-row>
                      <b-form-input class="mb-4" type="search" id="filterInput" placeholder="Type to Search..."> </b-form-input>
                     </b-row>
                    </b-col>
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="table-heading">
                      <tr>
                        <th width="40%">Name</th>
                        <th width="30%">Email Address</th>
                        <th width="20%">Date Registered</th>
                        <th width="10%">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(patron, i) in patrons" :key="i">
                        <td>{{patron.firstname + " " + patron.middlename + " " + patron.lastname}}</td>
                        <td>{{patron.email}}</td>
                        <td>{{patron.date}}</td>
                        <td class="text-center">
                            <a type="button" v-on:click="showEditModal(i)"><img src="../../assets/img/edit-table.png" height="25px;"></a>
                            <a type="button" v-on:click="showDeleteModal(i)"><img src="../../assets/img/delete.png" height="25px"></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div><!-- /.container-fluid -->
        </div><!-- /.content-wrapper -->
      </div><!-- /#wrapper -->
      <!-- Add Modal -->
      <b-modal id="addModal" class="modal fade" tabindex="-1" role="dialog" centered title="Patron Management">
            <h5 class="modal-title text-white"> Add Patron</h5>
          <div class="modal-body pl-5 pr-5">
            <div class="text-center">
              <img src="../../assets/img/add-partron.png" width="100px">
            </div>
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">First Name</label>
                <input type="text" class="form-control" v-model="input.firstname" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Middle Name</label>
                <input type="text" class="form-control" v-model="input.middlename" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Last Name</label>
                <input type="text" class="form-control" v-model="input.lastname" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" v-model="input.email" placeholder="">
              </div>
            </form>
          </div>
          <template #modal-footer="{ }">
             <div class="add-button-modal" v-on:click="saveRecord">
              <div class="text-center">
              <button type="button" class="btn btn-lg text-white" width="100%" >Save changes</button>
            </div>
            </div>
      </template>
    </b-modal>
    <!-- Edit Modal -->
      <b-modal id="editModal" class="modal fade" tabindex="-1" role="dialog" centered title="Patron Management">
            <h5 class="modal-title text-white"> Add Patron</h5>
          <div class="modal-body pl-5 pr-5">
            <div class="text-center">
              <img src="../../assets/img/add-partron.png" width="100px">
            </div>
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">First Name</label>
                <input type="text" class="form-control" v-model="editRecord.firstname" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Middle Name</label>
                <input type="text" class="form-control" v-model="editRecord.middlename" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Last Name</label>
                <input type="text" class="form-control" v-model="editRecord.lastname" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" v-model="editRecord.email" placeholder="">
              </div>
            </form>
          </div>
          <template #modal-footer="{ }">
             <div class="add-button-modal"  v-on:click="saveEditRecord">
              <div class="text-center">
              <button type="button" class="btn btn-lg text-white" width="100%">Save changes</button>
            </div>
            </div>
      </template>
    </b-modal>
    <!-- Delete Modal -->
    <b-modal id="deleteModal" class="modal-fade" >
      <p>Are you sure you want to delete this data?</p>
      <template #modal-footer="{ }">
        <button type="button" class="btn btn-md btn-danger" v-on:click="deleteRecord(i)"> Yes </button>
        <button type="button" class="btn btn-md btn-primary" v-on:click="hideDeleteModal">Cancel</button>
      </template>
    </b-modal>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>
</template>
<script>
export default {
  components: { },
  data(){
    return {
      editRecord: {},
      patrons: [
         {
           firstname: "Jane",
           middlename: "Doe",
           lastname: "Joe",
           email: "janedoe@gmail.com",
           date: new Date().toISOString().slice(0, 10),
         },
       ],
      input: {
        firstname: "",
        middlename: "",
        lastname: "",
        email: "",
        date: new Date().toISOString().slice(0, 10),
      },
      deleteIndex: "",
      editIndex: "",
    }
    },
  
  methods: {
    showAddModal (){
      this.$bvModal.show("addModal");
    },
    saveRecord (){
      if(this.input.firstname.trim() == '')
      return this.$toastr.error('Patron Record not Saved', 'First Name required')
      if(this.input.middlename.trim() == '')
      return this.$toastr.error('Patron Record not Saved', 'Middle Name required')
      if(this.input.lastname.trim() == '')
      return this.$toastr.error('Patron Record not Saved', 'Last Name required')
      if(this.input.email.trim() == '')
      return this.$toastr.error('Patron Record not Saved', 'Email required')
      
      this.patrons.unshift({ ...this.input });
+     this.clearFields();
+     this.$bvModal.hide("addModal");
      this.$toastr.success('Patron Record Saved', 'Success');
    },
    showEditModal(i) {
      this.editIndex = i;
      this.editRecord = ({...this.patrons[i]});
+     this.$bvModal.show("editModal");
    },
    saveEditRecord (){
      if(this.editRecord.firstname.trim() == '')
      return this.$toastr.error('Patron Record not Saved', 'FirstName required')
      if(this.editRecord.middlename.trim() == '')
      return this.$toastr.error('Patron Record not Saved', 'Middle Name required')
      if(this.editRecord.lastname.trim() == '')
      return this.$toastr.error('Patron Record not Saved', 'Last Name required')
      if(this.editRecord.email.trim() == '')
      return this.$toastr.error('Patron Record not Saved', 'Email required')

      this.$set(this.patrons, this.editIndex, this.editRecord)
+     this.$bvModal.hide("editModal");
      this.$toastr.success('Patron Record Saved', 'Success', {});
    },
    showDeleteModal (i){
      this.deleteIndex = i;
+      this.$bvModal.show("deleteModal");
    },
    hideDeleteModal(){
      +this.$bvModal.hide("deleteModal");
    },
    deleteRecord() {
+   this.$delete(this.patrons, this.deleteIndex);
+   this.$bvModal.hide("deleteModal");
    },

    clearFields() {
      this.input.firstname = "";
      this.input.middlename = "";
      this.input.lastname = "";
      this.input.email = "";
    },
  },
  mounted() {
    document.title = "Patron"
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
    @import './../../assets/css/sb-admin.css';
    @import './../../assets/css/animate.css';
</style>
