<template>
  <body id="page-top" class="animated fadeIn">
    <div id="wrapper">
        <!-- Content -->
        <div id="content-wrapper">
            <div class="container-fluid">

              <input class = "e-input" type = "text" v-model="new_password" placeholder="Enter New Password"/>
              <input class = "e-input" type="password" v-model="confirm_password" placeholder="Confirm New Password">
              <b-button size="sm" variant="primary" @click="userSettingsSave" />
            
            </div><!-- /.container-fluid -->
        </div><!-- /.content-wrapper -->
    </div><!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>
</template>
<script>
import {mapActions, mapGetters, mapState} from "vuex";


export default {
  components: {  },
  data(){
    return{
      id: '',
      data:{
        new_password:'', confirm_password: ''
      }
    }
  },
  mounted() {
    document.title = "Settings"
  },
  computed:{
    ...mapState('usersettings', ['usersettings'])
  },
  methods:{
    ...mapActions('usersettings', ['getUserSettings', 'storeUserSettings']),
    ...mapGetters('usersettings', ['getUserSettings']),

    async userSettingsSave(){
      const res = await this.storeUserSettings(this.data)
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
    @import './../../assets/css/sb-admin.css';
    @import './../../assets/css/animate.css';
</style>
