<template>
    <div>
    <navbar />
    <div id="wrapper">
    <sidebar />
        <div id="content-wrapper">
            <div class="main">
                <router-view/>
            </div>
         </div>
    </div>  
    </div>
</template>
<script>
import navbar from "./components/nav/navbar";
import sidebar from './components/nav/sidebar.vue';

export default {
    name: 'app',
    components: {
        navbar,
        sidebar
    }
}
</script>
<style>
    
</style>