<template>
    <nav class="navbar navbar-expand static-top">
      <div class="text-center">
        <img src="./../../assets/img/logo.png" class="top-left">
      </div>
  
    <button class="btn btn-link btn-lg text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i><img src="./../../assets/img/toggle.png" width="40px"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
        <div class="input-group">
          <input type="text" class="nav-search" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        </div>
      </form>
    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <img src="./../../assets/img/logout.png">
        </div>
        <div class="d-none d-md-inline-block form-inline ml-0 mr-0 mr-md-3 my-2 my-md-0">
       <a href="#"><h3 class="logout-text">Logout</h3></a>
      </div>
    

    <!-- Navbar -->
  </nav>
</template>