<template>
  <div class="sidenav" id="app">
 <ul class="sidebar navbar-nav">
      <div class="container profile">
        <li class="nav-item nav-link">
            <img src="./../../assets/img/edit.png" class="profile-edit">
        </li>
        <li class="nav-item nav-link">
          <div class="text-center">
            <img src="./../../assets/img/user.png" class="profile-user">
          </div>
        </li>
          <div class="row">
            <div class="col-lg-3"></div>
            <img src="./../../assets/img/online.png" class="profile-online"><h4 class="profile-name">John Doe</h4>
          </div>
          <div class="text-center">
          <p class="profile-title">Librarian</p>
        </div>
      </div>
    <!-- Sidebar Items -->
      <li class="nav-item">
        <p class="sidebar-header">Menu</p>
      </li>
      <hr class="sidebar-divider">
      <li class="nav-item" :class="activeLink == 'dashboard' ? 'active': ''">
         <router-link to="/" :class="Route == '/' ? 'active' : ''" class="nav-link">
          <i> <img src="./../../assets/img/dashboard.png" class="sidebar-item"></i>
          <span>Dashboard</span>
        </router-link>
      </li>
      <li class="nav-item" :class="activeLink == 'patron' ? 'active': ''">
         <router-link to="/patron" :class="Route == '/patron' ? 'active' : ''" class="nav-link">
          <i> <img src="./../../assets/img/patron.png" class="sidebar-item"></i>
          <span>Patron Management</span>
        </router-link>
      </li>
      <li class="nav-item" :class="activeLink == 'books' ? 'active': ''">
         <router-link to="/books" :class="Route == '/books' ? 'active' : ''" class="nav-link">
          <i> <img src="./../../assets/img/book.png" class="sidebar-item"></i>
          <span>Book Management</span>
        </router-link>
      </li>
      <li class="nav-item" :class="activeLink == 'settings' ? 'active': ''">
           <router-link to="/settings" :class="Route == '/settings' ? 'active' : ''" class="nav-link"> 
            <i> <img src="./../../assets/img/settings.png" class="sidebar-item"></i>
            <span>Settings</span>
          </router-link>
        </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    isActive: String,
    activeLink: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
  },
 computed: {
    Route: function(){
    return this.$route.path
    }
  }
}
</script>      